---
import '../styles/global.css';
import SiteHeader from '../components/SiteHeader.astro';
import { getLangFromUrl } from '@/i18n/utils';

interface Props {
  title: string;
  description?: string;
  refresh?: string;
}

const lang = getLangFromUrl(Astro.url);

const { title, description, refresh } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    {description && <meta name="description" content={description} />}
    {refresh && <meta http-equiv="refresh" content={refresh} />}
    <title>{title}</title>
  </head>
  <body class="max-w-5xl mx-auto">
    <header class="lg:px-4">
      <Header />
    </header>
    <main class="mt-6 px-4">
      <slot />
    </main>
  </body>
</html>
