---
import Date from './Date.astro';

interface Props {
    date_a: string,
    date_b: string,
    class?: string;
    [key: string]: unknown;
}

const { class: className, date_a, date_b, ...rest } = Astro.props;

---
<div class="flex">
    <span class="text-sm"> {date_a} - {date_b} </span>
</div>
