---
interface Props {
  href: string;
  class?: string;
  [key: string]: unknown;
}

const { href, class: className, ...rest } = Astro.props;
---
<li class="mr-1"><a class:list={['link link-hover', className]} href={href} {...rest}><slot /></a></li>
 