---
import type { Image as TypeImage } from '@/types';
import { Image } from 'astro:assets';

interface Props {
  image: TypeImage,
  class?: string;
  [key: string]: unknown;
}

const { class: className, image, ...rest } = Astro.props;

---

<div class="avatar">
    <div class:list={[className]} {...rest}>
        <Image src={image.src} alt={image.alt} height={image.height} width={image.width} />
    </div>
</div>
