---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
  [key: string]: unknown;
}

const { class: className, ...rest } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<label class="input">
  <Icon name="mdi:search" />
  <input type="search" 
    class:list={[className]} 
    name="search" 
    placeholder={t('search.search')} 
    {...rest}
  />
</label>
