---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
  inputName?: string;
  [key: string]: unknown;
}

const { class: className, inputName = "search", ...rest } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<label class:list={[className, "input"]}>
  <Icon name="mdi:search" />
  <input type="search" 
    name={inputName}
    placeholder={t('search.search')} 
    {...rest}
  />
</label>
