---
import { Icon } from 'astro-icon/components';
---
<label class="swap swap-rotate p-1 cursor-pointer" aria-label="Toggle theme">
  <input type="checkbox" class="theme-controller" value="dark" />
  <Icon class="swap-off w-5 h-5" name="mdi:weather-sunny" />
  <Icon class="swap-on w-5 h-5" name="mdi:weather-night" />
</label>
